.spinner {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: var(--main-btn-color);
  border-bottom-color: var(--main-btn-color);
  animation: spin 1s ease infinite;
}

:global(.releases-albums) .spinner {
  top: 100px;
}

@media screen and (max-width: 600px) {
  .spinner {
    top: 50vh;
  }

  :global(.search-results-container) .spinner {
    top: 25vh;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
