@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", Helvetica, sans-serif;
  min-height: 100vh;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

aside,
button {
  background-color: rgb(79, 70, 229);
}

button:hover,
a:hover {
  background-color: rgb(67, 56, 202);
}
